﻿ 
/* Re work to allow for a 6 column layout .*/

    .masonry-container {
        background: #fff;
        max-width: 100%;
        margin: 0 auto;
        width: 950px;
		font-family: Georgia !important;
    }

    /* clearfix */
    .masonry-container:after {
        content: ' ';
        display: block;
        clear: both;
    }

    /* 950px - 80 (5*16px guttering) divided by 6 = 145 wide per item. */
    /* Item is 145px wide by 98px high all other calculations are worked from this. */
    .masonry-item {
		/*
        width: 145px;
        height: 98px; 
		*/
		padding: 0;
        float: left;
        background: #fff;
        font-size: 20px;
        color: white;
        margin-bottom: 16px;
        border: 1px solid #DADADA; /* It may be causing position issues */
        position: relative; /* We want to position bits at the bottom*/
    }

    .masonry-item a {
        /*display: block;*/ /* stops images from resizing... */
        color: #111;
		border:0;
    }
     .masonry-item a:hover {
        color: #fff;
		border:0;
    }
	
	 .masonry-item a img { border:none; vertical-align:middle; }

    /* Default the image is 90%*/
    .masonry-item img {
        width: 100%;
        max-height: 77%;
        text-align: center;
        margin: 0 auto;
        /*height:100%;*/
    }

    .masonry-item.overlay a:hover .masonry-item-content {
       background: #A8A4A4;
       color:#fff;
    }

    .masonry-item .masonry-item-content {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 23%;
        overflow: hidden;
        /* Made the same as the container  background: #fff;*/
    }

    .masonry-item .masonry-item-content .masonry-item-title {
        font-size: 16px;
        padding: 0;
        text-transform: uppercase;
        margin: 4px 0 0;
        text-align: center;
        display: block;
    }

    .masonry-item .masonry-item-content .masonry-item-desc {
        font-size: 13px;
        padding: 0;
        margin: 8px 0 0 0;
        text-align: center;
        display: block;
    }

    .masonry-item:hover {
       /* background: rgba(166,166,166,0.7);*/
       background: #A8A4A4;
       color:#fff;
    }

	
	/* As Is 
		Will display whatever is put in them without styling
	*/
	
	 .masonry-item.asis {
		color:#666 !important;	
		border:0;
    }
	.masonry-item.asis:hover {
		background:none !important;
	}
	
	 .masonry-item.asis a:hover {
		border:0;
    }
	
	
	
     /* Heading
        Allow full width titles to be set.
         This has a line going through it by default.
     */

	.masonry-item.heading {
	}
		
    .masonry-item.heading {
        border: 0;
    }

    /* Set heading to be not as high! */
    .masonry-item.heading.h0 {
        height: 97px;
    }

    .masonry-item.heading:hover {
        background: none;
    }

    .masonry-item.heading img {
        width: 100%;
        max-height: 100% !important;
    }

    .masonry-item.heading .masonry-item-content {
        border-top: 1px solid #A6A6A6;
        border-bottom: 1px solid #A6A6A6;
        text-align: center;
        height: 50px;
        display: block;
    }

    .masonry-item.heading .masonry-item-content .masonry-item-title {
        margin-top: 15px;
    }

    /* Full 
		no content or headings just the image at full width
    */

    .masonry-item.full {
    }
	
    .masonry-item.full:hover {
        background: none !important;
    }

    .masonry-item.full img {
        width: 100%;   
		height: 100% !important;
        min-height: 100% !important;
    }

    .masonry-item.full .masonry-item-content {
        display: none;
    }

    /* Default 
		where there is an image at the top and content at the bottom.
		with no styles this should be what is displayed.
    */

    /* Overlay */
    .masonry-item.overlay img {
        width: 100%;
        min-height: 100% !important;
    }
	
    .masonry-item.overlay .masonry-item-content {
        background: rgba(255,255,255,0.7);
        border: 0;
        position: absolute !important;
        min-height: 11% !important;
    }

    .masonry-item.overlay a:hover .masonry-item-content {
        background: #A8A4A4;
        color:#fff;
    }

    /* Width */
    .masonry-item.w1 {
        height: 145px !important;
   
    }

    /* 145 + gutter + 145 */
    .masonry-item.w2{
       width: 306px !important;
    
    }

    /* 145 + gutter + 145 + gutter + 145*/
    .masonry-item.w3 {
        width: 467px !important;
    }

    /* 145 + gutter + 145 + gutter + 145 + gutter + 145*/
    .masonry-item.w4 {
        width: 628px !important;
    }
 
    /* 145 + gutter + 145 + gutter + 145 + gutter + 145 + gutter + 145 */
    .masonry-item.w5 {
        width: 789px !important;
    }
 
    /* 145 + gutter + 145 + gutter + 145 + gutter + 145 + gutter + 145 + gutter + 145 */
    .masonry-item.w6 {
        width: 950px !important;
    }
 
    /* Height same principle as the width, take into account the gutter */
    .masonry-item.h1 {
        height: 98px !important;
    }

    .masonry-item.h2 {
        height: 212px !important;
    }

     .masonry-item.h3 {
        height: 326px !important;
    }

    .masonry-item.h4 {
        height: 440px !important;
    }

    .masonry-item.h5 {
        height: 554px !important;
    }

    .masonry-item.h6 {
        height: 668px !important;
    }

    /* Mobile  - default to all mobile items appearing underneath each other */
    .masonry-mobile-container {
        width:100% !important;
        display:inline; /* Mobile menu is floated !*/
    }  
     
   .masonry-mobile-container  .masonry-mobile-item
   {
       display:block !important;
       width:99% !important;
       margin:8px auto !important; /* Still allow for 16px gutter*/
   }