﻿@model Nop.Plugin.Misc.GridLayout.Models.GridItem
@using Telerik.Web.Mvc.UI;

<div style="height:550px;width:800px;padding:20px;background:#fefefe;">
    <script type="text/javascript">

        function onGridItemInsertComplete() {
            // resets the recently changed items
            // $(':input').not(':button, :submit, :reset, :hidden').val('');
            $(".insert-grid-item-messages").html("");
            $(".insert-grid-item-messages").append("<strong>Grid item inserted</strong><br />");
            var grid = $("#GridItems").data("tGrid");
            grid.rebind();

        }

        function onGridItemUpdateFailure() {
            $(".insert-grid-item-messages").html("");
            $(".insert-grid-item-messages").append("<strong>There were issues inserting the grid item, please check the values are correct</strong><br />");
        }

        /*
        $(".updateGridItem").on("click", function () {
            var grid = $("#GridItems").data("tGrid");
            grid.rebind();
        });
        */

        // Return to the normal grid view.
        $(".insertGridItemCancel").on("click", function () {
            var grid = $("#GridItems").data("tGrid");
            grid.rebind();
        });

    </script>
    @using (Ajax.BeginForm("_InsertGridItem", "GridLayout", new AjaxOptions { OnSuccess = "onGridItemInsertComplete", OnFailure = "onGridItemInsertFailure" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <br />
        <h2>Insert Grid Item </h2>
        <div class="insert-grid-item-messages">

        </div>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">

                    <!-- Hidden Id, not populate yet as we are new.-->
                    <input type="hidden" name="Id" value="@Model.Id" />

                    <!-- Hidden Group Id-->
                    <input type="hidden" name="GridGroupId" value="@Model.GridGroupId" />

                    <!-- Title -->
                    @Html.LabelFor(model => model.Title)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.URL)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.URL)
                    @Html.ValidationMessageFor(model => model.URL)
                </td>
            </tr>
            <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.ItemTypeId)
            </td>
            <td class="adminData">
                @* Look to bring this back on the view model, with more time! *@
                <select id="ItemTypeId" name="ItemTypeId">
                    @foreach (Nop.Plugin.Misc.GridLayout.Models.GridItemType itemType in Enum.GetValues(typeof(Nop.Plugin.Misc.GridLayout.Models.GridItemType)))
                    {
                        int itemTypeId = (int)itemType;
                        if (itemTypeId == Model.ItemTypeId)
                        {
                            <option value="@itemTypeId" selected="selected">@itemType</option>
                        }
                        else
                        {
                            <option value="@itemTypeId">@itemType</option>
                        }
                    }
                </select>

            </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.Content)
                </td>
                <td class="adminData">
                    @Html.TextAreaFor(model => model.Content)
                    @Html.ValidationMessageFor(model => model.Content)
                </td>
            </tr>
               <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.ImageId)
                </td>
                <td class="adminData">

                    <div class="pictureContainer">
                        @Html.EditorFor(model => model.ImageId)
                        @Html.ValidationMessageFor(model => model.ImageId)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.Seq)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Seq)
                    @Html.ValidationMessageFor(model => model.Seq)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.ItemsWide)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ItemsWide)
                    @Html.ValidationMessageFor(model => model.ItemsWide)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.ItemsHigh)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ItemsHigh)
                    @Html.ValidationMessageFor(model => model.ItemsHigh)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="insertGridItem" class="insertGridItem">Insert</button>
                </td>
            </tr>
        </table>

    }
    </div>
