﻿@model Nop.Plugin.Misc.GridLayout.ViewModels.LayoutViewModel
@using Telerik.Web.Mvc.UI;
@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="/Administration/Content/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="/Content/fancybox/jquery.fancybox-1.3.4.css" />
<script src="/Scripts/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>

<style type="text/css">
    .grid-item {
        float: left;
        display: inline;
        width: 98%;    
        margin: 5px;
        padding: 5px 0;
    }

    /* occupies space for message to go into*/
    .grid-item-messages {
        height:30px;
    }
    
     .grid-item .form-element {
        margin: 3px 0;
        clear: left;
        height: 30px;
        min-height: 30px;
        overflow: hidden;
    }

    .grid-item label {
        display: inline;
        float: left;
        width: 150px;
    }

    .grid-layout-menu
    {
        float:right;
        display:inline;
    }

    .grid-layout-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .grid-layout-menu li{
        float: left;
        display:inline;
        list-style-type:none;
        margin:0 3px;
    }

    .grid-layout-menu li a {
        color:#111;
     }

   .grid-item-container {
        font-size: 9pt !important;
    }

    .btn
    {
        display:block;
        background:#e9e9e9;
        padding:5px;
        border:1px solid #ccc;
    }

    .clear {
        clear: both;
    }

    .cols {
        float: left;
        display: inline;
    }

    .cols4 {
        width: 25%;
    }

</style>

<h1>
    Grid Layout
</h1>
<br />

<div class="t-widget t-tabstrip t-header" id="GridLayout">
    <ul class="t-reset t-tabstrip-items">
        <li class="t-item t-state-default ">
            <a class="t-link" href="/Admin/GridLayout/Admin/GridLayout/Index">Layouts</a>
        </li>
        <li class="t-item t-state-default t-state-active">
            <a class="t-link" href="/Admin/GridLayout/Admin/GridLayout/Index">Current Layout @Model.GridGroup.Title</a>
        </li>
        <li class="t-item t-state-default "> <a class="t-link" href="/Admin/GridLayout/Admin/GridAssignment/Index">Page Associations</a></li>
    </ul>
    <div class="t-content t-state-active" id="GridLayout-1" style="display:block">

        <div id="notificationBox">
            <!-- Success / Error messages-->
        </div>
 
        @if(Model.GridGroup.Id  == 0)
        {

        <form action="/Admin/GridLayout/Admin/GridLayout/UpsertLayout" method="post">

            @*using (Html.BeginForm("UpsertLayout"))*@

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>
                    <strong>Grid Layout</strong>
                </legend>

                <!-- Grid Layout -->
                <table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.GridGroup.Title)
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.GridGroup.Title)
                            @Html.ValidationMessageFor(model => model.GridGroup.Title)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.GridGroup.Description)
                        </td>
                        <td class="adminData">
                            @Html.TextAreaFor(model => model.GridGroup.Description, new { @class = "textarea" })
                            @Html.ValidationMessageFor(model => model.GridGroup.Description)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.GridGroup.ShortCode)
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.GridGroup.ShortCode)
                            @Html.ValidationMessageFor(model => model.GridGroup.ShortCode)
                        </td>
                    </tr>
                    @* <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.GridGroup.BaseItemWidth)
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.GridGroup.BaseItemWidth)
                            @Html.ValidationMessageFor(model => model.GridGroup.BaseItemWidth)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.GridGroup.BaseItemHeight)
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.GridGroup.BaseItemHeight)
                            @Html.ValidationMessageFor(model => model.GridGroup.BaseItemHeight)
                        </td>
                    </tr>
                        *@
                </table>
                <input type="submit" name="Create / Update" class="t-button" value="@T("Admin.Common.Go")" />
            </fieldset>
        </form>
        }
        @if(Model.GridGroup.Id > 0)
        {
            @* intentionally left on to get Nop to correctly render image uploads in the ajax html popups!
               TODO : work out how to get it working without    
             *@
             <div style="display:none">
                @Html.LabelFor(model => model.CreateGridItem.ImageId)
                <div class="pictureContainer">
                    @Html.EditorFor(model => model.CreateGridItem.ImageId)
                    @Html.ValidationMessageFor(model => model.CreateGridItem.ImageId)
                </div>  
            </div>
                             
            <!-- Grid Items-->
            <div id="tab-0" class="">

                <form action="/Admin/GridLayout/Admin/GridLayout/UpsertLayout" method="post">

                    @*using (Html.BeginForm("UpsertLayout"))*@

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="grid-item-messages">
                        <!-- Grid Item Messages -->
                    </div>

                    <fieldset>
                        <legend>
                            <strong>Grid Layout</strong>
                        </legend>

                        <!-- Grid Layout -->
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    <input type="hidden" id="GridGroup_Id" name="GridGroup.Id" value="@Model.GridGroup.Id" />
                                    @Html.LabelFor(model => model.GridGroup.Title)
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.GridGroup.Title)
                                    @Html.ValidationMessageFor(model => model.GridGroup.Title)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.GridGroup.Description)
                                </td>
                                <td class="adminData">
                                    @Html.TextAreaFor(model => model.GridGroup.Description, new { @class = "textarea" })
                                    @Html.ValidationMessageFor(model => model.GridGroup.Description)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    
                                    @Html.LabelFor(model => model.GridGroup.ShortCode)
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.GridGroup.ShortCode)
                                    @Html.ValidationMessageFor(model => model.GridGroup.ShortCode)
                                </td>
                            </tr>
                        </table>
                        <input type="submit" name="go" class="t-button" value="@T("Admin.Common.Go")" />
                    </fieldset>
                </form>

                <br />

                <!-- Menu -->
                <div class="grid-layout-menu">
                    <ul>
                        <li>
                            <a href="#" class="addGridItem btn">
                                Add Grid Item
                            </a>
                        </li>
                        <li>
                            <a href="#" class="preview btn">
                                Preview
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <h2>Grid Items </h2>
          
                 <!-- Use telerik control... -->

                @(Html.Telerik().Grid<Nop.Plugin.Misc.GridLayout.Models.GridItem>()
                .Name("GridItems")
                .DataBinding(dataBinding => dataBinding.Ajax().Select("_GetGridItems", "GridLayout",  new { gridGroupId = Model.GridGroup.Id } ))
                .Columns(columns =>
                {
                  
                    columns.Bound(x => x.Title);
                    columns.Bound(x => x.Content).Width("200px").Title("Content");
                    columns.Bound(x => x.TypeText).Title("Style");
                    columns.Bound(x => x.URL);
                    columns.Bound(x => x.Image).Width("200px").ClientTemplate("<img style='width: 48px; height: 35px;' src='<#= Image #>' />").Title("Image");      
                    columns.Bound(x => x.ItemsWide);
                    columns.Bound(x => x.ItemsHigh);
                    columns.Bound(x => x.Seq).Title("Order");
                    columns.Bound(x => x.Id).Width("200px").ClientTemplate("<button class='editGridItem'>Edit</button><button class='deleteGridItem'>Delete</button>").Title("Actions");
                }))

            </div> <!-- End tab page-->
         
            }

        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#gridItemTabs").tabs();     
    });

    function onInsertGridItemComplete() {

        //$(':input').not(':button, :submit, :reset, :hidden').val('');
        $(".grid-item-messages").html("");
        $(".grid-item-messages").append("<strong>Grid Item Created</strong><br />");

        // Rebind the ajax table in the other tab.
        var grid = $("#GridItems").data("tGrid");
        grid.rebind();
    }

    function onInsertGridItemFailure() {
        $(".grid-item-messages").html("");
        $(".grid-item-messages").append("<strong>There was a problem creating the Grid Item. Please try again</strong><br />");
    }

    $(document).ajaxStop(function() {

        $(".preview").on("click", function(){
            
            var model = {gridGroupId : @Model.GridGroup.Id };
            $.get('@Url.Action("PreviewLayout","GridLayout")', model).done(function (data) {

                $.fancybox({
                    'padding': 0,
                    'autoScale': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'width': 700,
                    'height': 700,
                    'content': data
                });
            });
        });

        // Add Grid Item
        $(".addGridItem").on("click", function () {

            var model = {gridGroupId : @Model.GridGroup.Id };
            $.get('@Url.Action("_GetGridItemByGroupId","GridLayout")', model).done(function (data) {

                $.fancybox({
                    'padding': 0,
                    'autoScale': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'width': 700,
                    'height': 700,
                    'content': data
                });
            });
        });

        //Edit Grid Item
        $(".editGridItem").on("click", function () {

            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridItems').data('tGrid').dataItem(masterRow);

            // Construct object to send
            var model = { id: dataItem['Id'] };

            $.post('@Url.Action("_GetGridItem","GridLayout")', model).done(function (data) {

                $.fancybox({
                    'padding': 0,
                    'autoScale': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'width': 700,
                    'height': 700,
                    'content' : data
                });
            });
        });

        //Delete (Reset styles)
        $(".deleteGridItem").on("click", function (e) {
            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridItems').data('tGrid').dataItem(masterRow);
            
            e.stopImmediatePropagation();
            e.preventDefault();

            if (confirm("Are you sure you wish to delete this grid item?")) {
                $.post('@Url.Action("_DeleteGridItem", "GridLayout")', { id: dataItem['Id'] }).done(function (data) {
                    $(".grid-item-messages").html("");
                    $(".grid-item-messages").append("<strong>Grid Item Removed</strong><br />");
                    var grid = $("#GridItems").data("tGrid");
                    grid.rebind();
                });
            }
        });
    });

</script>
