﻿@model Nop.Plugin.Misc.GridLayout.Models.GridGroup

<div style="height:960px;width:1140px;background:#fff;">

    <script type="text/javascript" src="/Plugins/Misc.GridLayout/Content/Scripts/masonry.js"> </script>
    <link href="/Plugins/Misc.GridLayout/Content/Scripts/masonry.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        /* GridGroup     
            Title 
            Description
        */

        /* GridItem
            Title 
            Content
            URL
            Image
            ItemsWide
            ItemsHigh
            Seq
            GridGroupId
         */

        function GridLayout(target)
        {
            var gridGroupId = @Model.Id;
            this.target = $(target);
            this.getGridLayout(gridGroupId);
        }

        GridLayout.prototype.getGridLayout = function (id) {

            var model = { gridGroupId : id };
            var me = this;

            // Get the gridgroups
            $.post('@Url.Action("_GetGridLayout", "GridLayout")', model).done(function (data) {

             
                var html = me.renderGroup(data);
                me.target.html(html);
                
                setTimeout(function() {

                    // now set the masonry business.
                    // initialize
                    me.target.masonry({
                        columnWidth: 145,
                        gutter: 16,
                        itemSelector: '.masonry-item'
                    });

                }, 1000);

            });
        }
 
        GridLayout.prototype.renderGroups = function(data) {
    
            //alert("render groups");
            var groupsLength = data.length;
            var html = "";
    
            for(var i=0; i<groupsLength; i++)
            {
                var gridGroup = data[i];

                // Get the group and pass it to render its items
                html += this.renderGroup(gridGroup);
            }
    
            return html;
        }
         
        GridLayout.prototype.renderGroup = function(data) {
    
            //alert("render group");
            var gridItemsLength = data.Items.length;
            var html = "";

            //html+= data.Title;
            //html+= data.Description;
              
            for (var i = 0; i < gridItemsLength; i++) {
                var gridItem = data.Items[i];
                html+= this.renderGridItem(gridItem);
            }
    
            return html;
        }
      
        GridLayout.prototype.renderGridItem = function(data)
        {
            //alert("render gridItem");
            var typeText = data.TypeText;
            if(typeText != null && typeText !="")
            {
                typeText = typeText.toLowerCase();    
            }

            var html ='<div class="masonry-item w'+data.ItemsWide+' h'+data.ItemsHigh+' '+typeText+'">';
            html+='<a href="'+data.URL+'">';
            if(data.Image != "" && data.Image != null)
            {
                html += '<img src="' + data.Image + '" />';
            }
            html += '<span class="masonry-item-content">';
            if (data.Title != null) {
                html +='<span class="masonry-item-title">'+data.Title+'</span>';
            }
            if (data.Content != null) {
                html +='<span class="masonry-item-desc">'+data.Content+'</span>';
            }
            html += '</span>';

            html+='</a>';
            html+='</div>';
            return html;
        }
         
    var gridLayout = new GridLayout(".masonry-container");

    </script>
 
    <div class="masonry-container" style="padding-top:16px">

        <h1>No grid items found</h1>

    </div>

</div>