﻿@model IEnumerable<Nop.Plugin.Misc.GridLayout.Models.GridGroup>

<script type="text/javascript" src="/Plugins/Misc.GridLayout/Content/Scripts/masonry.js"> </script>
<link href="/Plugins/Misc.GridLayout/Content/Scripts/masonry.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    /* Determine whether to show the original layout or the new grid layout */
    $(document).ready(function () {

        var $container = $('.masonry-container');

        // If the width of the container is less than 
        var minWidth = 480;
        
        if ($(window).width() <= minWidth) {

            $(".masonry-container").addClass("masonry-mobile-container");
            $(".masonry-item").addClass("masonry-mobile-item");

            $(".masonry-mobile-container").removeClass("masonry-container");
            // dont initialise just remain with floating divs.
        }
        else
        {
            // initialize
            $container.masonry({
                columnWidth: 145,
                gutter: 16,
                itemSelector: '.masonry-item'
            });

        }
    });
</script>


@* If there are no categories associated with the page then we need to default to what was there before *@
<div class="masonry-container">
@foreach (Nop.Plugin.Misc.GridLayout.Models.GridGroup gridGroup in Model)
{
    foreach (Nop.Plugin.Misc.GridLayout.Models.GridItem gridItem in gridGroup.Items)
    {
        var gridItemWidth = "w" + gridItem.ItemsWide;
        var gridItemHeight = "h" + gridItem.ItemsHigh;
        var gridItemTypeText = gridItem.TypeText.ToLower().Trim(); // class name

        <div class="masonry-item @gridItemWidth @gridItemHeight @gridItemTypeText">
            <a href="@gridItem.URL">
                @if(!String.IsNullOrEmpty(gridItem.Image))
                {
                    <img src="@gridItem.Image" />
                }
                <span class="masonry-item-content">
                    <span class="masonry-item-title">@Html.Raw(gridItem.Title)</span>
                    <span class="masonry-item-desc">@Html.Raw(@gridItem.Content)</span>
                </span>
            </a>
        </div>
    }
    <div class="clear"></div>
}
    <div class="clear"></div>
</div>


