﻿@using Nop.Plugin.Misc.GridLayout.Models
@using Telerik.Web.Mvc.UI;
@{
   Layout = "_AdminLayout";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<style type="text/css">

    .grid-layout-menu {
        float: left;
    }

    .grid-layout-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

     .grid-layout-menu li {
            float: left;
            display: inline;
            list-style-type: none;
            margin: 0 3px;
     }

    .grid-layout-menu li a {
        color: #111;
    }

    .btn {
        display: block;
        background: #e9e9e9;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .clear {
        clear: both;
    }

</style>
<h1>
   Grid Layout
</h1>
<br />

<div class="t-widget t-tabstrip t-header" id="GridLayout">
    <ul class="t-reset t-tabstrip-items">
        <li class="t-item t-state-default t-state-active">
            <a class="t-link" href="/Admin/GridLayout/Admin/GridLayout/Index">Layouts</a>
        </li>
        <li class="t-item t-state-default"> 
            <a class="t-link" href="/Admin/GridLayout/Admin/GridAssignment/Index">Page Associations</a>
        </li>
    </ul>
    <div class="t-content t-state-active" id="GridLayout-1" style="display:block">

        <div id="notificationBox"></div>

        <!-- Menu -->
        <div class="grid-layout-menu">
            <ul>
                <li>
                    <a href="/Admin/GridLayout/Admin/GridLayout/Manage/" class="btn">Create Layout</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
   
        <br />
        
           @(Html.Telerik().Grid<Nop.Plugin.Misc.GridLayout.Models.GridGroup>()
            .Name("GridGroups")
            .DataBinding(dataBinding => dataBinding.Ajax().Select("_GetAllGridGroups", "GridLayout", new {  }))
            .Columns(columns =>
            {
                columns.Bound(x => x.Title);
                columns.Bound(x => x.Description).Width("200px").Title("Description");
                columns.Bound(x => x.CreatedOn);
                columns.Bound(x => x.ItemsCount).Title("Items");
                columns.Bound(x => x.Id).Width("200px").ClientTemplate("<button class='editGridGroup'>Edit</button><button class='deleteGridGroup'>Delete</button>").Title("Actions");
            }))

            @*@String.Format("{0:d/M/yyyy HH:mm:ss}", gridLayout.GridGroup.CreatedOn)</td>*@

</div>
</div>

<script type="text/javascript">
    
    $(document).ajaxStop(function() {

        //Edit selected grid group
        $(".editGridGroup").on("click", function (e) {
            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridGroups').data('tGrid').dataItem(masterRow);

            e.stopImmediatePropagation();
            e.preventDefault();

            // Use js to redirect.
            window.location = "/Admin/GridLayout/Admin/GridLayout/Manage?Id=" + dataItem['Id'];
        });

        //Delete (Reset styles)
        $(".deleteGridGroup").on("click", function (e) {
            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridGroups').data('tGrid').dataItem(masterRow);

            e.stopImmediatePropagation();
            e.preventDefault();

            if (confirm("Are you sure you wish to delete this layout?. Pages to which this layout has been allocated will no longer be able to display it.")) {
                $.post('@Url.Action("_DeleteGridGroup", "GridLayout")', { id: dataItem['Id'] }).done(function (data) {
                    $("#notificationBox").html("");
                    $("#notificationBox").append("<strong>Grid Group Removed</strong><br />");
                    var grid = $("#GridGroups").data("tGrid");
                    grid.rebind();
                });
            }
        });
    });
  
</script>