﻿@using Nop.Plugin.Misc.GridLayout.Models
@using Telerik.Web.Mvc.UI;
@{
    Layout = "_AdminLayout";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<link rel="stylesheet" href="/Content/fancybox/jquery.fancybox-1.3.4.css" />
<script src="/Scripts/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>

<style type="text/css">
    .btn {
        display: block;
        background: #e9e9e9;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .grid-layout-menu {
        float: left;

    }

    .grid-layout-menu ul{
        margin:0;
        padding:0;
        list-style:none;
    }

    .grid-layout-menu li {
        float: left;
        display: inline;
        list-style-type: none;
        margin: 0 3px;
    }

    .grid-layout-menu li a {
        color: #111;
    }

    .clear {
        clear: both;
    }
</style>

<h1>
    Grid Layout
</h1>
<br />

<div class="t-widget t-tabstrip t-header" id="GridLayout">
    <ul class="t-reset t-tabstrip-items">
        <li class="t-item t-state-default">
            <a class="t-link" href="/Admin/GridLayout/Admin/GridLayout/Index">Layouts</a>
        </li>
        <li class="t-item t-state-default t-state-active">
            <a class="t-link" href="/Admin/GridLayout/Admin/GridAssignment/Index">Page Associations</a>
        </li>
    </ul>
    <div class="t-content t-state-active" id="GridLayout-1" style="display:block">
     
        <!-- Menu -->
        <div class="grid-layout-menu">
            <ul>
                <li>
                    <a href="#" class="addGridGroupToPage btn"> Create layout to page association</a>
                 </li>
            </ul>
        </div>
        <div class="clear"></div>
        <p>Once a layout has been created it needs to be associated with a page in order for it to appear in the customer visible part of the store. <br />
         A single layout can be associated to multiple pages and can be made to show / hide by setting its active state. <br />
         Once a layout has been associated with a page, deleting the layout will also delete the page association.
        </p>
        <br />

        <div id="notificationBox">

        </div>

        <br />

        <!-- Use telerik control... -->
        @(Html.Telerik().Grid<Nop.Plugin.Misc.GridLayout.ViewModels.GridGroupToPageViewModel>()
                .Name("GridGroupToPage")
                .DataBinding(dataBinding => dataBinding.Ajax().Select("_GetAllGridGroupToPage", "GridAssignment", new { }))
                .Columns(columns =>
                {
                    columns.Bound(x => x.IsActive);
                    columns.Bound(x => x.GridGroupTitle).Title("Layout Name");
                    columns.Bound(x => x.EntityName).Title("Category Name");
                    columns.Bound(x => x.Link);
                    columns.Bound(x => x.GridGroupShortCode).Title("Short Code");
                    columns.Bound(x => x.CreatedOn).Title("Created On");
                    columns.Bound(x => x.Id).Width("200px").ClientTemplate("<button class='editGridGroupToPage'>Edit</button><button class='deleteGridGroupToPage'>Delete</button>").Title("Actions");
                }))
    </div>
</div>

<script type="text/javascript">

    $(document).ajaxStop(function () {

        // Add Grid Group to page
        $(".addGridGroupToPage").on("click", function () {

            var model = {};
            $.post('@Url.Action("_GetGridGroupToPage","GridAssignment")', model).done(function (data) {

                $.fancybox({
                    'padding': 0,
                    'autoScale': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'width': 700,
                    'height': 700,
                    'content': data
                });
            });
        });

        //Edit Grid Group to page
        $(".editGridGroupToPage").on("click", function () {

            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridGroupToPage').data('tGrid').dataItem(masterRow);

            // Construct object to send
            var model = { id: dataItem['Id'] };

            $.post('@Url.Action("_GetGridGroupToPageById", "GridAssignment")', model).done(function (data) {

                $.fancybox({
                    'padding': 0,
                    'autoScale': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'width': 700,
                    'height': 700,
                    'content': data
                });
            });
        });

        //Delete (Reset styles)
        $(".deleteGridGroupToPage").on("click", function (e) {
            var masterRow = $(this).parents("tr");
            var dataItem = $('#GridGroupToPage').data('tGrid').dataItem(masterRow);

            e.stopImmediatePropagation();
            e.preventDefault();

            if (confirm("Are you sure you wish to delete this layout to page allocation?")) {
                $.post('@Url.Action("_DeleteGridGroupToPage", "GridAssignment")', { id: dataItem['Id'] }).done(function (data) {
                    $("#notificationBox").html("");
                    $("#notificationBox").append("<strong>Grid Group to page removed</strong><br />");
                    var grid = $("#GridGroupToPage").data("tGrid");
                    grid.rebind();
                });
            }
        });
    });
</script>