﻿@model Nop.Plugin.Misc.GridLayout.ViewModels.GridGroupToPageDetailViewModel
@using Telerik.Web.Mvc.UI;

<div style="height:350px;width:800px;padding:20px;background:#fefefe;">
    <script type="text/javascript">

        function onGridGroupToPageInsertComplete() {
            // resets the recently changed items
            // $(':input').not(':button, :submit, :reset, :hidden').val('');
            $(".insert-grid-grouptopage-messages").html("");
            $(".insert-grid-grouptopage-messages").append("<strong>Grid group to page inserted</strong><br />");
            var grid = $("#GridGroupToPage").data("tGrid");
            grid.rebind();

        }

        function onGridGroupToPageInsertFailure() {
            $(".insert-grid-grouptopage-messages").html("");
            $(".insert-grid-grouptopage-messages").append("<strong>There were issues inserting the grid group to page mapping, please check the values are correct</strong><br />");
        }

        /*
        $(".updateGridItem").on("click", function () {
            var grid = $("#GridItems").data("tGrid");
            grid.rebind();
        });
        */

        // Return to the normal grid view.
        $(".insertGridGroupToPageCancel").on("click", function () {
            var grid = $("#GridGroupToPage").data("tGrid");
            grid.rebind();
        });

    </script>
    @using (Ajax.BeginForm("_InsertGridGroupToPage", "GridAssignment", new AjaxOptions { OnSuccess = "onGridGroupToPageInsertComplete", OnFailure = "onGridGroupToPageInsertFailure" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <br />
        <h2>Create - Layout to Page Association  </h2>
        <div class="insert-grid-grouptopage-messages">

        </div>
        <br />
        <table class="adminContent">
            <tr>
                <td class="adminTitle">

                    <input type="hidden" name="GridGroupToPage.Id" value="@Model.GridGroupToPage.Id" />
                    <input type="hidden" name="GridGroupToPage.EntityType" value="@Model.GridGroupToPage.EntityType" /> 

                    @Html.LabelFor(model => model.GridGroupToPage.IsActive)

                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.GridGroupToPage.IsActive)
                    @Html.ValidationMessageFor(model => model.GridGroupToPage.IsActive)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.Categories):
                </td>
                <td class="adminData">
                    @Html.DropDownList("GridGroupToPage.EntityId", Model.Categories)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.GridGroups):
                </td>
                <td class="adminData">
                    @Html.DropDownList("GridGroupToPage.GridGroupId", Model.GridGroups)
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <button type="submit" id="insertGridGroupToPage" class="insertGridGroupToPage">Insert</button>
                </td>
            </tr>
        </table>

    }
</div>
